#root {
  max-width: 720px;
  max-height: 960px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background-color: rgb(233, 132, 0);
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; 
}
.texto {
  margin: 5px 20px 0px 20px;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; 
}
.lista {
  
}

export default App;